.register {
    position: relative;
}

#blue-line {
    position: absolute;
    left: 0;
    top: 0;
    width: 10px; 
    height: 100%; 
    background-color: #007bff; 
}

#togglePassword {
    float: right;
    position: relative;
    margin-top: 7px;
    margin-left: -15px;
    right: 10px;
    cursor: pointer;
    z-index: 2;
}

.btn{
    width: 25%;
}

.login-button{
    display: flex;
    justify-content: center;
}

.register-form {
    margin: 30px 0px;
}

@media (max-width: 1000px) {
    .register-form {
        margin: 30px auto;
    }
}